*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:  monospace;
}

.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(121, 50%, 50%);
  gap: 3rem;
}

.title{
  color: white;
  font-size: 3rem;
}

.card{
  padding: 2rem;
  background-color: hsl(300, 50%, 50%);
  width: 20rem;
  height: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.card button{
  padding: 1rem;
  margin: 0 1rem;
  border: none;
  cursor: pointer;
}

.card button:hover{
  background-color: hsl(0, 0%, 70%);
}